
{% load static %}

<link rel="stylesheet" href="{% static 'stylesheet/base.css' %}">


<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Help & Contact Section -->
            <div class="col-md-3">
                <h5 style="color: red;">Help & Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:help@picknpay.co.ls">Send us an email</a></li>
                    <li><a href="tel:+276030303030">Call Customer Care: 0860 30 30 30</a></li>
                    <li><a href="tel:+27210031600">International Customers: +27 21 003 1600</a></li>
                </ul>
            </div>

            <!-- Company Section -->
            <div class="col-md-3">
                <h5 style="color: red;">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">About Pick n Pay</a></li>
                    <li><a href="#">People & Planet</a></li>
                    <li><a href="#">Money & Mobile</a></li>
                    <li><a href="#">Smart Shopper</a></li>
                    <li><a href="#">Pick n Pay Franchise</a></li>
                </ul>
            </div>

            <!-- Services & Websites Section -->
            <div class="col-md-3">
                <h5 style="color: red;">Services & Websites</h5>
                <ul class="list-unstyled">
                    <li><a href="#">PnP Grocery</a></li>
                    <li><a href="#">PnP Clothing</a></li>
                    <li><a href="#">Boxer Stores</a></li>
                    <li><a href="#">PnP Store Account</a></li>
                </ul>
            </div>

            <!-- Useful Information Section -->
            <div class="col-md-3">
                <h5 style="color: red;">Useful Information</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Scams</a></li>
                    <li><a href="#">Privacy Portal</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refunds and Returns</a></li>
                    <li><a href="#">Customer Communication</a></li>
                    <li><a href="#">Consumer Protection Act</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="copyright text-center">
            <p>&copy; 2025 Pick and Pay Lesotho. All rights reserved.</p>
            <p>Copyright - Intellectual Property</p>
        </div>
    </div>
</footer>
